@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
    width: 100%;
}

#button__top {
    position: fixed;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #411c8e;
    float:right;
    bottom:0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

#button__top i:active {
    color: #411c8e
}

#button__top:hover {
    color: #411c8e;
}



/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 4px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff; 
    transition: all 0.3s ease-in;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0; 
  }

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 0.9rem;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #7529F1;
    padding: 1.69rem 0rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar_brand-image {
    width: 60px;
}

.navbar__list {
    display: flex;
}

.navbar__item {
    margin: 0 1rem;
    list-style: none;
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}

/* Headline */

.headline {
    margin-top: 3rem;
}

.headline__title {
    color: #5926C5;
    font-size: 45px;
    width: 75%;
}

.headline__resume {
    margin-top: 25px;
    width: 68%;
    color: #444444;
    font-weight: 400;
    font-size: 18px;
}

.headline__date {
    margin-top: 13px;
    cursor: pointer;
    font-size: 14px;
    color: #939393;
}

/* News */

.news {
    margin: 2.59rem 0rem;
   
}

.news__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 28px;
}

.news__link {
    text-decoration: none;
    border-bottom: 1px solid #c8c8c8;
    padding-bottom: 1.25rem;
}

.news__notice {
    overflow: hidden !important;
    display: flex;
    align-items: center;
    
}

.news__info {
    /* margin-left: 1.59rem; */
    overflow: hidden !important;
    padding-left: 1.79rem;
    width: 45%;
    
}

@media (max-width: 1130px) {


    

    .news__notice {
        flex-direction: column;
        align-items: flex-start;
    }

    .news__info {
        margin-top: 1.59rem;
        width: 80%;
        padding: 0;
        
    }

    .news__image {
        height: 1000px;
        width: 1000px;
    }

}

.news__title {
    color: #5926C5;
    font-size: 24px;
    font-weight: bold;
    width: 90%;
    transition: all 0.3s ease-in;
    
}

.news__title:hover {
    color: #411c8e;
}

.news_resume {
    color: #555555;
    font-weight: lighter;
    margin-top: 1.15rem;
    width: 80%;
}

.news__date {
    color: #1B1B1B;
    margin-top: .7rem;

}

.news__image  {
    height: 280px;
    width: 50%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    filter: blur(1px);
    transition: all 0.2s ease-in;
}

.news__image:hover {
    filter: none;
}

.news__image-1 {
    background: url('./../assets/img/notice1.png');
}

.news__image-2 {
    background: url('./../assets/img/notice2.jpg');
}
.news__image-3 {
    background: url('./../assets/img/notice3.webp');
}
.news__image-4 {
    background: url('./../assets/img/notice4.jpg');
}
.news__image-5 {
    background: url('./../assets/img/noticia5.jpg');
}

.news__image-6 {
    background: url('./../assets/img/noticia6.jpg');
}


#personal {
    margin: 4.5rem 0;
}

.personal__content {
    display: flex;
    justify-content: space-between;
}

.personal__profile {
    display: flex;
    flex-direction: column;
}

.personal__profile-image {
    width: 250px;
    height: 300px;
    border-radius: 4px;
    background: url('./../assets/img/perfil.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.personal__profile-name {
    color: #411c8e;
    margin-top: 1.25rem;
}

.personal__profile-function {
    font-weight: lighter;
    color: #464646;
    margin-top: .3rem;
}

.personal__profile-sociais {
    margin: 1rem 0;
}

.personal__profile-list {
    display: flex;
}


.personal__profile-item {
    list-style: none;
}
.personal__profile-item i {
    color: #151515;
    font-size: 1rem;
    margin-right: .6rem;
    transition: all 0.2s ease-in;
}

.personal__profile-item i:hover {
    color: #411c8e;
}

.personal__info {
    margin-top: 1rem;
    width: 70%;
}

.personal__info-title {
    font-size: 2rem;
}

.personal__info-p {
    color: #999;
    margin-top: 1rem;
}

#form {
    margin: 4.5rem 0;
}

.form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__info {
    width: 40%;
    margin-bottom: 1.59rem;
}

.form_info-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.form__info-p {
    color: #797979
}

.form__main {
    width: 40%;
}

.form__main-form {
    display: flex;
    flex-direction: column;
}

.form_main-box {
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0;
}

.form_main-box input {
    font-family: 'Open Sans', Helvetica, sans-serif;
    border: 1px solid #999;
    margin-top: 0.3rem;
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
}

.form_main-box textarea {
    font-family: 'Open Sans', Helvetica, sans-serif;
    height: 150px;
    width: 100%;
    overflow: hidden;
    margin-top: 0.3rem;
    padding: 0.6rem 0.8rem;
    border-radius: 4px;
    resize: none;
}

.form__main-form button {
    background-color: #411c8e;
    padding: 1rem 1.2rem;
    margin-top: 0.5rem;
    border: none;
    color: #fff;
    border-radius: 4px;
}


#about {
    margin: 4rem 0;
}

.about__list {
    margin: 1rem 0
}

.about__list-item {
    list-style: none;
}

.about__list-link {
    display: flex;
    text-decoration: none;
    margin: .5rem 0;
}

.about__title {
    font-size: 2.25rem;
}